

<body class="stretched">

<!--===========================Bannier==================================== -->

<div id="wrapper" class="clearfix">

    <section id="slider" class="slider-parallax revslider-wrap full-screen clearfix">

        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>    <!-- SLIDE  -->
                    <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500"
                        data-delay="12000"  data-saveperformance="off">

                        <!-- MAIN IMAGE -->
                        <img src="images/{{ compagnie.lienPhotoCompagnie }}" alt="{{ compagnie.lienPhotoCompagnie }}"
                             data-bgposition="left center"
                             data-kenburns="on"
                             data-duration="12000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100"
                             data-bgpositionend="right center">


                        <!-- LAYERS -->
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"

                             data-x="center"
                             data-y="center"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.
                             easeOutQuad;"
                             data-speed="800"
                             data-start="1200"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"

                             data-endeasing="Power4.easeIn" style="z-index: 3; font-size: 90px; font-family: 'Fredericka the Great', cursive; background-color: rgba(0,0,0,0.6); border-radius: 10px;">Comme L'Air 2 Rien
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme"
                             data-x="500"
                             data-y="450"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.
                             easeOutQuad;"
                             data-speed="800"
                             data-start="1550"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; background-color: rgba(0,0,0,0.6);"><a href="#titre" class="button button-white
                             button-light button-border button-large button-rounded tright nomargin"><span>Continuer
                                </span> <i class="icon-angle-right"></i></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<!--===========================1er nav==================================== -->

<header id="header">
    <div id="header-wrap">
        <div class="container-fluid clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <div id="logo">
                <a href="index.php"> <img src="images/logo_airderien.png"></a> </div>
            <nav id="primary-menu" class="style-2 center">
                <ul class="one-page-menu">
                    <li><a href="#" data-href="#most-toppest"><div class="compagnie">La compagnie</div></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Les spectacles <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for spectacle in spectacles %}
                            <li><a href="index.php?route=spectacle&id={{ spectacle.Id }}">{{ spectacle.titreSpect }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--===========================2éme nav==================================== -->

<div id="page-menu">
    <div id="page-menu-wrap">
        <div class="container-fluid clearfix">
            <div class="menu-title">Comme L'Air 2 Rien</div>
            <nav>
                <ul>
                    <li class="current"><a href="#"><div>Acceuil</div></a></li>
                    <li><a href="#personnages"><div>Nos Membres</div></a></li>
                    <li><a href="#galerie"><div>Galerie Multimedia</div></a></li>
                    <li><a href="#handicap"><div>La Maladie de ...</div></a></li>
                    <li><a href="#presse"><div>Revue de Presse</div></a></li>
                    <li><a href="#calendrier"><div>Nos Partenaires</div></a></li>
                    <li><a href="#contact"><div>Contact</div></a></li>
                </ul>
            </nav>
            <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
        </div>
    </div>
</div>

<!--======================================================================== -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <!--===========================Description==================================== -->

            <span id="titre"></span>

            <div class="heading-block title-center page-section">
                <h2>Comme L'air 2 Rien</h2>
                <span></span>
            </div>

            <p>{{ compagnie.descriptionCompagnie }}</p>

            <!--==============================Membres==================================== -->

            <span id="personnages" class="ancre"></span>

            <div class="heading-block title-center page-section">
                <h2>Nos Membres</h2>
                <span></span>
            </div>

            <div class="row">
                {% for membre in membres  %}
                    <div class="col-md-6 bottommargin" style="min-height: 260px;">
                        <div class="team team-list clearfix">
                            <div class="team-image" style="width: 25%;">
                                <img class="img-circle" src="images/photos/{{ membre.lienPhotoMembre }}"
                                     alt="Sophie">
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>{{ membre.prenomMembre }}</h4><span></span></div>
                                <div class="team-content">{{ membre.descriptionMembre }}</div>
                                <div class="line topmargin-sm nobottommargin"></div>
                                {% if membre.facebookMembre != ' '  %}
                                <a href="{{ membre.facebookMembre }}" class="social-icon si-borderless si-small
                                si-facebook" title="Facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                {% endif %}

                                <a href="{{ membre.mailMembre }}" class="social-icon si-borderless si-small si-email3"
                                   title="Email">
                                    <i class="icon-email3"></i>
                                    <i class="icon-email3"></i>
                                </a>
                                <a href="{{ membre.lienMembre }}" target="lien" class="social-icon si-borderless
                                si-small" style="width: 150px; color: #1abc9c">
                                    Ma compagnie
                                </a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!--===============================Galerie Photos========================== -->

            <div class="heading-block center topmargin page-section">

                <span id="galerie" class="ancre"></span>

                <h2>Galerie</h2>
                <span>Photos</span>
            </div>

            <div class="fslider flex-thumb-grid grid-12 bottommargin-lg" data-pagi="false" data-arrows="false"
                 data-thumbs="true">
                <div class="flexslider">
                    <div class="slider-wrap">
                        {% for media in medias %}
                            <div class="slide" data-thumb="images/photos/{{ media.lienMedia }}">
                                <img src="images/photos/{{ media.lienMedia }}" alt="{{ media.titreMedia }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!--==============================Videos================================== -->

            <div class="heading-block title-center topmargin-lg page-section">
                <h2></h2>
                <span>Nos videos</span>
            </div>

            <div style="display:flex; justify-content: center;">
                {% for video in videos %}
                    <div class="col_one_third" style="max-width: 180px;">
                        <div class="feature-box center media-box fbox-bg">
                            <div class="fbox-desc" style="padding: 5px;">
                                <a href="#modal-video{{ video.id }}" data-lightbox="inline"><img
                                            src="http://img.youtube.com/vi/{{ video.lienMedia }}/hqdefault.jpg"
                                            style="height: 150px; width: 200px;"></a>
                                <div class="modal" data-target="#modal-video{{ video.id }}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal1 mfp-hide" id="modal-video{{ video.id }}">
                        <div class="block divcenter" style="background-color: #FFF; max-width: 600px;">
                            <div class="center clearfix" style="padding: 50px;">
                                <h4 class="modal-title">{{ video.titreMedia }}</h4>
                                <iframe src="https://player.vimeo.com/video/139208268?badge=0" width="500" height="210" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                <p class="lead nobottommargin topmargin-sm">Media embedded from Vimeo</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

            <!--==============================Son================================== -->

            <div>
                <iframe id="soundcloud" width="100%" height="300" scrolling="no" frameborder="no"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/302536635&amp;
                    color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true
                    &amp;show_reposts=false"></iframe>
            </div>

            <!--============================123 Soleil================================== -->

            <div class="heading-block title-center page-section" style="padding-top: 50px;">

                <span id="123soleil" class="ancre"></span>

                <h2>123 Soleil</h2>
                <span></span>
            </div>

            <p>La compagnie 1, 2, 3 soleil, créée en 2007 à Remilly-sur-Tille, a présenté sa nouvelle pièce, Maman,
                y’a papa qui bouge encore. Quatrième création de la troupe, ce texte en trois actes de René Bruneau a
                été joué à deux reprises à la salle Gabin, à guichets fermés, samedi et dimanche, où elle a fait carton
                plein grâce.</p>

            <p>Les dialogues sont réjouissants, le décor agréable et la mise en scène de Sophie Schmitt très réussie.</p>

            <p>Et que dire de la performance des comédiens, sinon qu’ils sont tous crédibles dans leur rôle et que le
                public suit avec allégresse les péripéties de ce vaudeville burlesque. Ainsi les acteurs Bénédicte
                Bazin, Nathalie Grenaud-Bardot, Margot Cunier, Dominique Cornot, Karine Mauchamp, Stéphane Petiot et
                Sophie Schmitt ont enthousiasmé le public, très disert et heureux. Il ne faut pas oublier les
                accessoiristes, Fabienne Boulay et Romain Rousseau, ainsi que les techniciens, Philippe et Romain Bazin,
                qui ont pris leur part dans la réussite de ce spectacle de deux heures où il n’est pas question d’amant
                dans le placard, mais d’héritage.</p>


            <div class="row">
                <div class="col-md-2 col-md-offset-1 center">
                    <div class="feature-box center media-box fbox-bg">
                        <div class="fbox-desc">
                            <a href="images/photos/P1040461.JPG" target="_blank"><img src="images/photos/P1040461.JPG" alt="photo" id="photo" width="150"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 center">
                    <div class="feature-box center media-box fbox-bg">
                        <div class="fbox-desc">
                            <a href="images/photos/P1040465.JPG" target="_blank"><img src="images/photos/P1040465.JPG" alt="photo" id="photo" width="150"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 center">
                    <div class="feature-box center media-box fbox-bg">
                        <div class="fbox-desc">
                            <a href="images/photos/P1040469.JPG" target="_blank"><img src="images/photos/P1040469.JPG" alt="photo" id="photo" width="150"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 center">
                    <div class="feature-box center media-box fbox-bg">
                        <div class="fbox-desc">
                            <a href="images/photos/P1040479.JPG" target="_blank"><img src="images/photos/P1040479.JPG" alt="photo" id="photo" width="150"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 center">
                    <div class="feature-box center media-box fbox-bg">
                        <div class="fbox-desc">
                            <a href="images/photos/P1040481.JPG" target="_blank"><img src="images/photos/P1040481.JPG" alt="photo" id="photo" width="150"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--============================Le handicap=================================== -->

            <div class="heading-block title-center page-section" style="padding-top: 50px;">

                <span id="handicap" class="ancre"></span>

                <h2>CHARCOT MARiE TOOTH. CMT</h2>
                <span></span>
            </div>


            <p>En France 30000 personnes en sont atteintes,

                Les CMT sont des maladies génétiques héréditaires neuromusculaires évolutives qui n' entament pas
                l' espérance de vie Elles atteignent les nerfs périphériques provoquant une amyotrophie des mollets
                ,avant bras ,mains et piedsLa gravité de l'atteinte est variable d' un patient à l'' autre et rien ne
                peut prédire l' évolution Le degré de handicap peut aller d' une simple gêne à la marche jusqu'à
                l' usage d' un fauteuil roulant,peu fréquent,10 % environ des cas</p>

            <a href="http://www.cmt-france.org/">Association CMT France</a>


            <!--===========================Revue de Presse================================ -->

            <div class="heading-block title-center topmargin-lg page-section" style="padding-top: 50px;">

                <span id="presse" class="ancre"></span>

                <h2>Revue De Presse</h2>
                <span></span>
            </div>

            <div id="carousel-presse" class="carousel slide fade in" data-ride="carousel" data-interval="false">

                <div class="carousel-inner" role="listbox">
                    {% for article in articles %}
                        <div class="item col-xs-8 col-xs-offset-2 {% if loop.index == 1 %}active{% endif %}">
                            <div class="caption">
                                <h4>{{ article.titreArticle }}</h4>
                                <p class="lead">"{{ article.texteArticle }}"</p>
                                <span class="auteur"><strong>{{ article.auteur }}</strong>,
                                    {{ article.journal }},{{ article.dateArticle }}</span><br>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <a class="left carousel-control" href="#carousel-presse" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel-presse" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>

            <!--======================Partenaires========================================== -->

            <div class="heading-block title-center topmargin-lg page-section" style="padding-top: 50px;">

                <span id="calendrier" class="ancre"></span>

                <h2>Nos partenaires</h2>
                <span></span>
            </div>
            <div class="row">
                {% for partenaire in partenaires %}
                    <div class="col-md-4 center">
                        <div class="feature-box center media-box fbox-bg">
                            <div class="fbox-desc">
                                <h3>{{ partenaire.NomPartenaire }}</h3>
                                <a href="{{ partenaire.LienSitePartenaire }}"><img src="{{ partenaire.LienLogoPartenaire }}"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!--======================================================================== -->

        </div>
    </div>
</section>