{#{{ dump() }}#}
<html lang="fr-FR">
<head>

    <meta charset="UTF-8">
    <title>Comme l'air 2 rien</title>

    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link href="css/reset.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/style-hub.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/media-hub.css" media="all" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&amp;subset=latin-ext" rel="stylesheet">

</head>
<body class="w100 cbp-spmenu-push">

<!-- ////////////////////   Debut de page  \\\\\\\\\\\\\\\\\\\\ -->
<div id="home" class="desktop w100 container">
    <!-- ////////////////////  Debut du contenu \\\\\\\\\\\\\\\\\\\\ -->
    <div class="w100 content txtcenter">


        <!-- ////////////////////   Compagnie  \\\\\\\\\\\\\\\\\\\\ -->
        <section id="home-left" class="home-panel w50 h100 left">
            <!-- >>> Fond  <<< -->
            <div id="left-background" class="w50 background left-background"></div>
            <!-- >>> Titre <<< -->
            <div class="home-title fittext block-1 w100">
                <div class="wrapper-1">
                    <div class="home-box1">
                        <p class="p3" >Comme</p>
                        <p class="p2">l'air</p>
                        <p class="p4">2 rien</p>
                    </div>
                </div>
            </div>
            <!-- >>> Over <<< -->
            <a href="index.php?route=compagnie"><div id="home-over-left" class="home-over w50 h100">
                <div class="home-over-content w100 h100">
                    <!-- >>> Titre <<< -->
                    <div class="home-title fittext block-2 w100">
                        <div class="wrapper-2">
                            <div class="home-box">
                                <p class="p3">Comme</p>
                                <p class="p2">l'air</p>
                                    <p class="p4">2 rien</p>
                            </div>
                        </div>
                    </div>
                    <!-- >>> lien <<< -->
                    <div id="home-logo-left" class="home-logo block-3 w100">
                        <div class="wrapper-3">
                            <div class="home-box fittext w60">

                                <h5>Notre compagnie ici...
                                    </h5>

                            </div>
                        </div>
                    </div>
                    <!-- >>> Logo <<< -->
                    <footer class="w60 center block-4 w100">
                        <div class="wrapper-4">
                            <div class="home-box w60">
                                <img class="txtcenter logohub" src="images/logo_airderien.png">
                            </div>
                        </div>
                    </footer>
                </div>
            </div></a>
            </section>
        <!-- \\\\\\\\\\\\\\\\\\\\   Fin compagnie   //////////////////// -->

        <!-- ////////////////////   Spectacles  \\\\\\\\\\\\\\\\\\\\ -->
        <section id="home-right" class="home-panel w50 h100 left">
            <!-- >>> Fond <<< -->
            <div id="right-background" class="w50 background right-background"></div>
            <!-- >>> Titre <<< -->
            <div class="home-title fittext block-1 w100">
                <div class="wrapper-1">
                    <div class="home-box1">
                    <p class="p1 first">{% for spectacle in spectacles if spectacle.active == 1 %} {{ spectacle.titreSpect }} {% endfor %} </p>
                    </div>
                </div>
            </div>
            <!-- >>> Over <<< -->
            {% for spectacle in spectacles if spectacle.active == 1 %} {{ spectacle.titreSpect }}
            <a href="index.php?route=spectacle&id={{ spectacle.id }}"><div id="home-over-right" class="home-over w50 h100">
                <div class="home-over-content w100 h100">
                    <!-- >>> Titre <<< -->
                    <div class="home-title fittext block-2 w100">
                        <div class="wrapper-2">
                            <div class="home-box">
                                <p class="p1 first"></p>
                            </div>
                        </div>
                    </div>
                    <!-- >>> Liens <<< -->
                    <div id="home-logo-right" class="home-logo block-3 w100">
                        <div class="wrapper-3">
                            <div class="home-box fittext w60">

                                <h5>Notre spectacle ici ...</h5>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- >>> Menu Spectacles <<< -->
                    <footer class="w60 center block-4 w100">
                        <div class="wrapper-4">
                            <div class="home-box w60">
                                <hr>

                                <nav id="nav-see">
                                    <ul>{% for spectacle in spectacles if spectacle.active == 0 %}
                                        <li><a href="index.php?route=spectacle&id={{ spectacle.id }}">{{spectacle.titrespect}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </footer>
                </div></a>
                </div>
        </section>
        <!-- \\\\\\\\\\\\\\\\\\\\   Fin Spectacles   //////////////////// -->
        <div class="clear"></div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\   Fin du contenu   //////////////////// -->
</div>
<!-- \\\\\\\\\\\\\\\\\\\\   Fin de page   //////////////////// -->

<!-- ////////////////////  Debut de page mobile \\\\\\\\\\\\\\\\\\\\ -->
<div id="home" class="mobile w100 h100">
    <section id="home-mobile-top" class="w100 h50 block">
{#        <div class="home-mobile-logo w50 txtcenter wrapper">
            <div class="home-box">
                <h2>Plus d'info</h2>
                <h2>sur la </h2>
            </div>
        </div>#}
        <div class="home-mobile-title w100 txtcenter wrapper">
            <div class="home-box">
                <h3><a href="index.php?route=compagnie">Compagnie</a></h3>
                <h2><a href="index.php?route=compagnie">Comme l'air</a></h2>
                <h2><a href="index.php?route=compagnie">2 rien</a></h2>
            </div>
        </div>
    </section>
    <section id="home-mobile-bottom" class="w100 h50 block">
{#        <div class="home-mobile-logo w50 txtcenter wrapper">
            <div class="home-box">
                <h2>Plus d'info</h2>
                <h2>sur notre </h2>
            </div>
        </div>#}
        <div class="home-mobile-title w100 txtcenter wrapper">
            <div class="home-box">
                {% for spectacle in spectacles if spectacle.active == 1 %}
                <h3><a href="index.php?route=spectacle&id={{ spectacle.id }}">Spectacle</a></h3>
                <h2 class="pHub {#p1 first#}" ><a href="index.php?route=spectacle&id={{ spectacle.id }}"> {{ spectacle.titreSpect }}</a></h2>
                {% endfor %}
                <nav id="nav-see">
                    <ul>{% for spectacle in spectacles if spectacle.active == 0 %}
                            <li ><a href="index.php?route=spectacle&id={{ spectacle.id }}">{{spectacle.titrespect}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>
<!-- \\\\\\\\\\\\\\\\\\\\   Fin de page mobile  //////////////////// -->

<script type='text/javascript' src='js/jquery-1.11.1.min.js'></script>
<script type="text/javascript" src="js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    setBgImage("images/{{ compagnie.lienPhotoCompagnie }}","images/{% for spectacle in spectacles if spectacle.active == 1 %}{{ spectacle.photoSpect }}{% endfor %}")


</script>

</body>
</html>
