

<body class="stretched">

<!--===========================Bannier==================================== -->

<div id="wrapper" class="clearfix">

    <section id="slider" class="slider-parallax revslider-wrap full-screen clearfix visible-lg-block">

        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>    <!-- SLIDE  -->
                    <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500"
                        data-delay="12000"  data-saveperformance="off">

                        <!-- MAIN IMAGE -->
                        <img src="images/{{ spectacle.photoSpect }}"
                             alt="{{ spectacle.photoSpect }}"
                             data-bgposition="left center"
                             data-kenburns="on"
                             data-duration="12000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100"
                             data-bgpositionend="right center">

                        <!-- LAYERS -->
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"

                             data-x="center"
                             data-y="center"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.
                             easeOutQuad;"
                             data-speed="800"
                             data-start="1200"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; font-size: 90px; font-family: 'Fredericka the Great', cursive; background-color: rgba(0,0,0,0.6); border-radius: 10px;">{{ spectacle.titreSpect }}</div>

                        <div class="tp-caption customin ltl tp-resizeme"
                             data-x="500"
                             data-y="450"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.
                             easeOutQuad;"
                             data-speed="800"
                             data-start="1550"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; background-color: rgba(0,0,0,0.6);"><a href="#titre" class="button button-white
                             button-light button-border button-large button-rounded tright nomargin"><span>Continuer
                                </span> <i class="icon-angle-right"></i></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="hidden-lg">
        <img src="images/{{ spectacle.photoSpect }}" alt="{{ spectacle.photoSpect }}"/>
        <div class="div-titre-photo"><p class="titre-photo">{{ spectacle.titreSpect }}</p></div>

    </section>
</div>



<!--===========================1er nav==================================== -->

<header id="header">
    <div id="header-wrap">
        <div class="container-fluid clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <div id="logo"> <a href="index.php"> <img src="images/logo_airderien.png" ></a> </div>
            <nav id="primary-menu" class="style-2 center">
                <ul class="one-page-menu">
                    <li><a href="index.php?route=compagnie" data-href="#most-toppest"><div class="compagnie">
                                La compagnie</div></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Les spectacles <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for spectacle in spectacles if spectacle.active == 0 or spectacle.active == 1%}
                            <li><a href="index.php?route=spectacle&id={{ spectacle.Id }}">{{ spectacle.titreSpect }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--===========================2éme nav==================================== -->

<div id="page-menu">

    <div id="page-menu-wrap">

        <div class="container-fluid clearfix">

            <div class="resptitle menu-title">{{ spectacle.titreSpect }}</div>


            <nav>
                <ul>
                    <li class="content"><a  href="#" data-href="#"><div>Accueil</div></a></li>
                    <li><a href="#personnages"><div>Les Personnages</div></a></li>
                    <li><a href="#galerie"><div>Galerie Multimedia</div></a></li>
                    <li><a href="#presse"><div>Revue de Presse</div></a></li>
                    <li><a href="#calendrier"><div>Notre Calendrier</div></a></li>
                    <li><a href="#contact"><div>Contact</div></a></li>
                </ul>
            </nav>

            <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

        </div>

    </div>

</div>

<!--======================================================================== -->


<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <!--===========================Description==================================== -->

            <span id="titre"></span>

            <div class="heading-block title-center page-section">
                <h2>{{ spectacle.titreSpect }}</h2>
                <span></span>
            </div>

            <p class="bottommargin">{{ spectacle.descriptionSpect }}</p>

            <!--===========================Personnages==================================== -->

            <span id="personnages" class="ancre"></span>

            <div class="heading-block title-center page-section">
                <h2>Les Personnages</h2>
                <span></span>
            </div>

            <div class="row">
                {% for personnage in personnages %}
                    {% for membre in membres %}
                        {% if membre.id == personnage.membreId  %}
                            <div class="col-md-6 bottommargin" style="min-height: 230px;">
                                <div class="team team-list clearfix">
                                    <div class="team-image" style="width: 25%;">
                                        <img class="img-circle" src="images/photos/{{ personnage.photoPersonnage }}"
                                             alt="{{ personnage.prenomPersonnage }}">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>{{ personnage.prenomPersonnage }}</h4><span>
                                                {{ membre.prenomMembre}} </span></div>
                                        <div class="team-content">{{ personnage.descriptionPersonnage}}</div>
                                        <div class="line topmargin-sm nobottommargin"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>

            <!--===========================Galerie Photos==================================== -->

            <div class="heading-block center topmargin page-section">

                <span id="galerie" class="ancre"></span>

                <h2>Galerie</h2>
                <h4>Nos photos</h4>
            </div>

            <div class="fslider flex-thumb-grid grid-12 bottommargin-lg" data-pagi="false"
                 data-arrows="false" data-thumbs="true">
                <div class="flexslider">
                    <div class="slider-wrap">
                        {% for photo in photos %}
                            <div class="slide" data-thumb="images/photos/{{ photo.lienMedia }}">
                                <img src="images/photos/{{ photo.lienMedia }}" alt="{{ photo.ltitreMedia }}"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!--===========================Video==================================== -->

            <div class="heading-block title-center topmargin-lg page-section">
                <h2></h2>
                <span>Nos videos</span>
            </div>

            <div style="display:flex; justify-content: center;">
                {% for video in videos %}
                    <div class="col_one_third" style="max-width: 180px;">
                        <div class="feature-box center media-box fbox-bg">
                            <div class="fbox-desc" style="padding: 5px;">
                                <a href="#modal-video{{ video.id }}" data-lightbox="inline"><img
                                src="http://img.youtube.com/vi/{{ video.lienMedia }}/hqdefault.jpg" style="height: 150px; width: 200px;"></a>

                                <div class="modal" data-target="#modal-video{{ video.id }}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal1 mfp-hide" id="modal-video{{ video.id }}">
                        <div class="block divcenter" style="background-color: #FFF; max-width: 600px;">
                            <div class="center clearfix" style="padding: 50px;">
                                <h4 class="modal-title">{{ video.titreMedia }}</h4>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video
                                .lienMedia }}" frameborder="0" allowfullscreen></iframe>
                                <p class="lead nobottommargin topmargin-sm">Media embedded from Vimeo</p>
                            </div>
                        </div>
                    </div>



                {% endfor %}
            </div>
            <!--===========================Musiques==================================== -->

            <div class="heading-block title-center topmargin-lg page-section">
                <h2></h2>
                <h4>Notre musique</h4>
            </div>

            <div>
                <iframe width="100%" height="300" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/302536635&amp;auto_play=false
                 &amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>


            <!--===========================Revue de presse==================================== -->

            <div class="heading-block title-center topmargin-lg page-section" style="padding-top: 50px;">

                <span id="presse" class="ancre"></span>

                <h2>Revue De Presse</h2>
                <span></span>
            </div>

            <div id="carousel-presse" class="carousel slide fade in" data-ride="carousel" data-interval="false">

                <div class="carousel-inner" role="listbox">
                    {% for article in articles %}
                        <div class="item col-xs-8 col-xs-offset-2 {% if loop.index == 1 %}active{% endif %}">
                            <div class="caption">
                                <h4>{{ article.titreArticle }}</h4>
                                <p class="lead">"{{ article.texteArticle }}"</p>
                                <span class="auteur"><strong>{{ article.auteur }}</strong>,
                                    {{ article.journal }},{{ article.dateArticle }}</span><br>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <a class="left carousel-control" href="#carousel-presse" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel-presse" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>

            <!--===========================Calendrier==================================== -->

            <div class="heading-block title-center topmargin-lg page-section" style="padding-top: 50px;">

                <span id="calendrier" class="ancre"></span>

                <h2>Calendrier</h2>
                <h4>Liste de nos évènements</h4>
            </div>
            <div class="row">
                {% for date in dates %}
                    <div class="col-md-4 center">
                        <div class="feature-box center media-box fbox-bg">
                            <div class="fbox-desc">
                                <h3>{{ date.dateformat }}<span class="subtitle">{{ date.lieuSpectacle }}</span></h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!--======================================================================== -->

        </div>
    </div>
</section>