

<!-- Header
    ============================================= -->
<header id="header">
    <div id="header-wrap">
        <div class="container-fluid clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <div id="logo"> <a href=""> <img src="images/logo_airderien.png" ></a> </div>

            <!-- Primary Navigation ============================================= -->
            <nav id="primary-menu" class="style-2 center">
                <ul class="one-page-menu">
                    <li><a href="#" data-href="#most-toppest"><div class="compagnie">La compagnie</div></a></li>
                    <li><a href="#" data-href="#most-toppest"><div class="spectacle">Les spectacles</div></a></li>
                </ul>
            </nav><!-- #primary-menu end -->
        </div>
    </div>
</header>


<div id="page-menu">

    <div id="page-menu-wrap">

        <div class="container-fluid clearfix">

            <div class="menu-title">Administration</div>

            <nav>
                <ul>
                    <li class="content"><a  href="#" data-href="#"><div>Infos principales</div></a></li>
                    <li><a href="#" data-href="#personnages"><div>Les Personnages</div></a></li>
                    <li><a href="#" data-href="#galerie"><div>Galerie Multimedia</div></a></li>
                    <li><a href="#" data-href="#calendrier"><div>Le Calendrier</div></a></li>
                    <li><a href="#" data-href="#presse"><div>Les articles de presse</div></a></li>
                </ul>
            </nav>

            <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

        </div>

    </div>

</div><!-- #page-menu end -->


<form name="compagnieForm" method="post" action="admin.php?route=updateCompagnie" class="form-horizontal">
    <div class="form-group">
        <label for="descriptionCompagnie" class="col-sm-2 control-label">Description Compagnie :</label>
        <div class="col-sm-2">
            <textarea  class="form-control" name="descriptionCompagnie" id="descriptionCompagnie" rows="80" cols="120" >
                {{ compagnie.descriptionCompagnie }} </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="emailCompagnie" class="col-sm-2 control-label">Email :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="emailCompagnie" id="emailCompagnie"
                   placeholder="Email" value="{{ compagnie.emailCompagnie }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="telCompagnie" class="col-sm-2 control-label">Tel :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="telCompagnie" id="telCompagnie"
                   placeholder="Tel" value="{{ compagnie.telCompagnie }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="lienPhotoCompagnie" class="col-sm-2 control-label">Photo :</label>
        <div class="col-sm-2">
            <input type="file" name="lienPhotoCompagnie" id="lienPhotoCompagnie"
                   value="{{ compagnie.lienPhotoCompagnie }}" />
        </div>
    </div>

        <input type="hidden" name="csrf" value="{{ form.csrf.value }}">

    <input type="hidden" name="id" value="{{ compagnie.Id }}">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="submit" value="submit" class="btn btn-default">Envoyer</button>
        </div>
    </div>

</form>

