


<form name="compagnieForm" method="post" action="admin.php?route=doUpdateCompagnie" class="form-horizontal"
      enctype="multipart/form-data" style="margin-top: 30px">
    <div class="form-group">
        <label for="descriptionCompagnie" class="col-sm-4 control-label">Description Compagnie :</label>
        <div class="col-sm-6">
            <textarea  class="form-control" name="descriptionCompagnie" id="descriptionCompagnie" rows="13" >
                {{ compagnie.descriptionCompagnie }} </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="emailCompagnie" class="col-sm-4 control-label">Email :</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="emailCompagnie" id="emailCompagnie"
                   placeholder="Email" value="{{ compagnie.emailCompagnie }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="telCompagnie" class="col-sm-4 control-label">Tel :</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="telCompagnie" id="telCompagnie"
                   placeholder="Tel" value="{{ compagnie.telCompagnie }}" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
        {% if compagnie.lienPhotoCompagnie  %}
            <label for="imageactuelle" class="col-sm-4 control-label">Photo actuelle :</label>
            <img src="images/{{ compagnie.lienPhotoCompagnie }}" alt="" id="imageactuelle" style="height: 200px"/>
        {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label for="lienPhotoCompagnie" class="col-sm-4 control-label">Photo :</label>
        <div class="col-sm-4"><i>(Taille max: 2mo)</i>
            <input type="file" name="lienPhotoCompagnie" id="lienPhotoCompagnie"
                   value="{{ compagnie.lienPhotoCompagnie }}" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
        {% if compagnie.ficheTechnique  %}
        <label for="ficheactuelle" class="col-sm-4 control-label">Fiche Technique:</label>
            <p>{{ compagnie.ficheTechnique }}</p>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="ficheTechnique" class="col-sm-4 control-label">Fiche Technique :</label>
        <div class="col-sm-4">
            <input type="file" name="ficheTechnique" id="ficheTechnique"
                   value="{{ compagnie.ficheTechnique }}" />
        </div>
    </div>

    <input type="hidden" name="csrf" value="{{ form.csrf.value }}">

    <input type="hidden" name="id" value="{{ compagnie.Id }}">

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-2">
            <button type="submit" name="submit" value="submit" class="btn btn-default">Modifier</button>
        </div>
    </div>

</form>

{#<script type="text/javascript" src="js/jquery.js"></script>#}
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>

<script>
    $(document).ready(function() {
        $('#descriptionCompagnie').summernote();
    });
</script>