


<form name="addMediaForm" method="post" action="admin.php?route={{ typeAction }}Media" class="form-horizontal" enctype="multipart/form-data" style=" margin-top: 30px">


    <!-- Nav tabs -->
    <div class="form-group">
        <ul class="nav nav-pills col-sm-offset-5 col-sm-3" role="tablist">
            <li role="presentation" class="active"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">Photo</a></li>
            <li role="presentation"><a href="#video" aria-controls="video" role="tab" data-toggle="tab">Video</a></li>
        </ul>
    </div>


    <div class="form-group">
        <label for="titreMedia" class="col-sm-4 control-label">Titre :</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="titreMedia" id="titreMedia"
                   placeholder="Titre" value="{{ media.titreMedia }}" required/>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="photo">
            <div class="form-group">
                {% if  media.LienPhoto  %}
                    <label for="imageactuelle" class="col-sm-4 control-label">Image actuelle :</label>
                    <div class="col-sm-4">
                        <img src="images/photos/{{ media.lienPhoto }}" alt="" id="imageactuelle" style="height: 200px"/>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="lienPhoto" class="col-sm-4 control-label">Lien Photo :</label>
                <div class="col-sm-4"><i>(Format: paysage; Taille max: 2mo)</i>
                    <input type="file"  name="lienPhoto" id="lienPhoto"
                           value="{{ media.lienPhoto }}" />
                </div>
            </div>

        </div>


        <div role="tabpanel" class="tab-pane" id="video">
            <div class="form-group">
                {% if media.LienVideo  %}
                    <label for="imageactuelle" class="col-sm-4 control-label">Video actuelle :</label>
                    <div class="col-sm-4">
                        <img src="http://img.youtube.com/vi/{{ media.lienVideo }}/hqdefault.jpg" alt="" id="imageactuelle" style="height: 200px"/>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="lienVideo" class="col-sm-4 control-label">Lien Video:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="lienVideo" id="lienVideo"
                           placeholder="Jc-2VY_TDYQ" value="{{ media.lienVideo }}" />
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <label for="spectacleId" class="col-sm-4 control-label">Afficher dans :</label>
        <div class="col-sm-4">
            <select id="spectacleId" class="form-control" name="spectacleId">
                <optgroup label="Compagnie">
                    <option value="compagnie">Comme l'air 2 rien</option>
                </optgroup>
                <optgroup label="Spectacles">
                    {% for spectacle in spectacles %}
                        <option value="{{ spectacle.Id }}">{{ spectacle.TitreSpect }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
    </div>

    <input type="hidden" name="affectation" value="0">

    <input type="hidden" name="csrf" value="{{ form.csrf.value }}">

    <input type="hidden" name="id" value="{{ media.Id }}">

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-2">
            <button type="submit" name="submit" value="submit" class="btn btn-default">{{  titreButton }}</button>
        </div>
    </div>

</form>



<div class="row titre">
    <div class="col-xs-12 text-center">
        <h3>Liste des medias</h3>
    </div>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist" style=" margin-bottom: 30px; margin-left: 10%">

{% for mediaTypeName, medias in  displayMedia %}
    {% if loop.first %}
        <li role="presentation" class="active"><a href="#{{ loop.index }}" aria-controls="{{ loop.index }}" role="tab"
                               data-toggle="tab">{{ mediaTypeName }}</a></li>
      {% else %}
        <li role="presentation"><a href="#{{ loop.index }}" aria-controls="{{ loop.index }}" role="tab"
                                       data-toggle="tab">{{ mediaTypeName }}</a></li>
        {% endif %}
{% endfor %}
    </ul>
<div class="tab-content">

{% for mediaTypeName, medias in  displayMedia %}

    {% if loop.first %}
<div role="tabpanel" class="tab-pane active" id="{{ loop.index }}">
    {% else %}
<div role="tabpanel" class="tab-pane" id="{{ loop.index }}">
    {% endif %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            {% for media in medias %}
                <div class="col-lg-4 thumbnail text-center">
                    {%  if media.genre == 'photo' %}
                    <img src="images/photos/{{ media.LienPhoto }}" alt="{{ media.TitreMedia }}" style="height: 200px">
                    {% endif %}
                    {%  if media.genre == 'video' %}
                        <img src="http://img.youtube.com/vi/{{ media.lienVideo }}/hqdefault.jpg" alt="{{ media.TitreMedia }}" style="height: 200px">
                    {% endif %}
                    <h3>{{ media.TitreMedia }}</h3>
                    {% for spectacle in spectacles %}
                        {% if media.spectacleId == spectacle.Id %}
                            <p>{{ spectacle.TitreSpect  }}</p>
                        {% endif %}
                    {% endfor %}

                    <a class="btn btn-warning"
                       href="admin.php?route=updateMedia&id={{ media.Id }}&afficher={{ media.afficher }}
                       &affectation={{ media.affectation }}&genre={{ media.genre }}">Modifier</a>

                    <form action="admin.php?route=deleteMedia" method="post">
                        <input type="hidden" name="id" value="{{ media.Id}}">
                        <input class="btn btn-danger" type="submit" name="deleteMedia" value="Supprimer">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
          </div>
{% endfor %}

       </div>







































































































