


<form name="addMembreForm" method="post" action="admin.php?route={{ typeAction }}Membre" class="form-horizontal" style="width: 200%; margin-top: 30px">
    <div class="form-group">
        <label for="nomMembre" class="col-sm-2 control-label">Nom :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="nomMembre" id="nomMembre"
                   placeholder="Nom" value="{{ membre.NomMembre }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="prenomMembre" class="col-sm-2 control-label">Prenom :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="prenomMembre" id="prenomMembre"
                   placeholder="Prenom" value="{{ membre.PrenomMembre }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="descriptionMembre" class="col-sm-2 control-label">Description :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="descriptionMembre" id="descriptionMembre"
                   placeholder="Description" value="{{ membre.DescriptionMembre }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="facebookMembre" class="col-sm-2 control-label">Facebook :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="facebookMembre" id="facebookMembre"
                   placeholder="www.facebook.com" value="{{ membre.FacebookMembre }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="mailMembre" class="col-sm-2 control-label">Mail :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="mailMembre" id="mailMembre"
                   placeholder="123@mail.com" value="{{ membre.MailMembre }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="lienMembre" class="col-sm-2 control-label">Site :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="lienMembre" id="lienMembre"
                   placeholder="www.123.com" value="{{ membre.LienMembre }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="LienPhotoMembre" class="col-sm-2 control-label">Photo :</label>
        <div class="col-sm-2">
            <input type="file"  name="LienPhotoMembre" id="LienPhotoMembre"
                   value="{{ membre.LienPhotoMembre }}" />
        </div>
    </div>

    <input type="hidden" name="csrf" value="{{ form.csrf.value }}">

    <input type="hidden" name="id" value="{{ membre.Id }}">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="submit" value="submit" class="btn btn-default">{{  titreButton }}</button>
        </div>
    </div>

</form>





<div class="row titre">
    <div class="col-xs-12 text-center">
        <h3>Liste des membres</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        {% for membre in membres %}
            <div class="col-lg-4 thumbnail text-center">
                <img src="{{ membre.LienPhotoMembre }}" alt="{{ membre.PrenomMembre }}">
                <h3>{{ membre.NomMembre }}  {{ membre.PrenomMembre }}</h3>
                <p>{{ membre.DescriptionMembre }}</p>

                <form action="admin.php" method="GET">
                    <input type="hidden" name="route" value="updateMembre">
                    <input type="hidden" name="id" value="{{ membre.Id }}">
                    <input class="btn btn-warning" type="submit" name="updateMembre" value="Modifier">
                </form>
                <form action="admin.php?route=deleteMembre" method="post">
                    <input type="hidden" name="id" value="{{ membre.Id}}">
                    <input class="btn btn-danger" type="submit" name="deleteMembre" value="Supprimer">
                </form>
            </div>
        {% endfor %}
    </div>

</div>