

<form name="addPartForm" method="post" action="admin.php?route={{ typeAction }}Partenaire" class="form-horizontal" style="width: 200%; margin-top: 30px">
    <div class="form-group">
        <label for="nomPartenaire" class="col-sm-2 control-label">Nom :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="nomPartenaire" id="nomPartenaire"
                   placeholder="Nom" value="{{ partenaire.NomPartenaire }}" />
        </div>
    </div>



    <div class="form-group">
        <label for="lienSitePartenaire" class="col-sm-2 control-label">Lien Site :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="lienSitePartenaire" id="lienSitePartenaire"
                   placeholder="Lien Site" value="{{ partenaire.LienSitePartenaire }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="lienLogoPartenaire" class="col-sm-2 control-label">Logo :</label>
        <div class="col-sm-2">
            <input type="file"  name="lienLogoPartenaire" id="lienLogoPartenaire"
                   value="{{ partenaire.LienLogoPartenaire }}" />
        </div>
    </div>





        <input type="hidden" name="csrf" value="{{ form.csrf.value }}">

    <input type="hidden" name="id" value="{{ partenaire.Id }}">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="submit" value="submit" class="btn btn-default">Envoyer</button>
        </div>
    </div>

</form>





<div class="row titre">
    <div class="col-xs-12 text-center">
        <h3>Liste des partenaires</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        {% for partenaire in partenaires %}
            <div class="col-lg-4 thumbnail text-center">
                <img src="{{ partenaire.LienLogoPartenaire }}" alt="{{ partenaire.NomPartenaire }}">
                <h3>{{ partenaire.NomPartenaire }}</h3>
                <p>{{ partenaire.LienSitePartenaire }}</p>

                <form action="admin.php" method="GET">
                    <input type="hidden" name="route" value="updatePartenaire">
                    <input type="hidden" name="id" value="{{ partenaire.Id }}">
                    <input class="btn btn-warning" type="submit" name="updatePartenaire" value="Modifier">
                </form>
                <form action="admin.php?route=deletePartenaire" method="post">
                    <input type="hidden" name="id" value="{{ partenaire.Id }}">
                    <input class="btn btn-danger" type="submit" name="deletePartenaire" value="Supprimer">
                </form>
            </div>
        {% endfor %}
    </div>

</div>