

<form name="addPersoForm" method="post" action="admin.php?route={{ typeAction }}Personnage" class="form-horizontal" style="width: 200%;margin-top: 30px">
    <div class="form-group">
        <label for="nomPersonnage" class="col-sm-2 control-label">Nom :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="nomPersonnage" id="nomPersonnage"
                   placeholder="Nom" value="{{ personnage.NomPersonnage }}"  />
        </div>
    </div>

    <div class="form-group">
        <label for="prenomPersonnage" class="col-sm-2 control-label">Prenom :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="prenomPersonnage" id="prenomPersonnage"
                   placeholder="Prenom" value="{{ personnage.PrenomPersonnage }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="descriptionPersonnage" class="col-sm-2 control-label">Description :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="descriptionPersonnage" id="descriptionPersonnage"
                   placeholder="Description" value="{{ personnage.DescriptionPersonnage }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="photoPersonnage" class="col-sm-2 control-label">Photo :</label>
        <div class="col-sm-2">
            <input type="file" name="photoPersonnage" id="photoPersonnage"
                   value="{{ personnage.PhotoPersonnage }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="spectacleId" class="col-sm-2 control-label">Spectacle :</label>
        <div class="col-sm-2">
            <select id="spectacleId" class="form-control" name="spectacleId">
                {% for spectacle in spectacles %}
                    <option value="{{ spectacle.Id }}">{{ spectacle.TitreSpect }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="membreId" class="col-sm-2 control-label">Acteur :</label>
        <div class="col-sm-2">
            <select id="membreId" class="form-control" name="membreId">
                {% for membre in membres %}
                    <option value="{{ membre.Id }}">{{ membre.PrenomMembre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

        <input type="hidden" name="csrf" value="{{ form.csrf.value }}">

    <input type="hidden" name="id" value="{{ personnage.Id }}">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="submit" value="submit" class="btn btn-default"> {{ titreButton }}
            </button>
        </div>
    </div>

</form>





<div class="row titre">
    <div class="col-xs-12 text-center">
        <h3>Liste des personnages</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        {% for personnage in personnages %}
            <div class="col-lg-4 thumbnail text-center">
                <img src="{{ personnage.PhotoPersonnage }}" alt="{{ personnage.PrenomPersonnage }}">
                <h3>{{ personnage.NomPersonnage }} {{ personnage.PrenomPersonnage }}</h3>
                <p>{{ personnage.DescriptionPersonnage }}</p>

                <form action="admin.php" method="GET">
                    <input type="hidden" name="route" value="updatePersonnage">
                    <input type="hidden" name="id" value="{{ personnage.Id }}">
                    <input class="btn btn-warning" type="submit" name="updatePersonnage" value="Modifier">
                </form>
                <form action="admin.php?route=deletePersonnage" method="post">
                    <input type="hidden" name="id" value="{{ personnage.Id }}">
                    <input class="btn btn-danger" type="submit" name="deletePersonnage" value="Supprimer">
                </form>
            </div>
        {% endfor %}
    </div>

</div>