

<!-- Header
    ============================================= -->
<header id="header">
    <div id="header-wrap">
        <div class="container-fluid clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <div id="logo"> <a href=""> <img src="images/logo_airderien.png" ></a> </div>

            <!-- Primary Navigation ============================================= -->
            <nav id="primary-menu" class="style-2 center">
                <ul class="one-page-menu">
                    <li><a href="#" data-href="#most-toppest"><div class="compagnie">La compagnie</div></a></li>
                    <li><a href="#" data-href="#most-toppest"><div class="spectacle">Les spectacles</div></a></li>
                </ul>
            </nav><!-- #primary-menu end -->
        </div>
    </div>
</header>


<div id="page-menu">

    <div id="page-menu-wrap">

        <div class="container-fluid clearfix">

            <div class="menu-title">Administration</div>

            <nav>
                <ul>
                    <li class="content"><a  href="#" data-href="#"><div>Infos principales</div></a></li>
                    <li><a href="#" data-href="#personnages"><div>Les Personnages</div></a></li>
                    <li><a href="#" data-href="#galerie"><div>Galerie Multimedia</div></a></li>
                    <li><a href="#" data-href="#calendrier"><div>Le Calendrier</div></a></li>
                    <li><a href="#" data-href="#presse"><div>Les articles de presse</div></a></li>
                </ul>
            </nav>

            <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

        </div>

    </div>

</div><!-- #page-menu end -->


<form name="addPersoForm" method="post" action="admin.php?route={{ typeAction }}Personnage" class="form-horizontal">
    <div class="form-group">
        <label for="nomPersonnage" class="col-sm-2 control-label">Nom :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="nomPersonnage" id="nomPersonnage"
                   placeholder="Nom" value="{{ personnage.NomPersonnage }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="prenomPersonnage" class="col-sm-2 control-label">Prenom :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="prenomPersonnage" id="prenomPersonnage"
                   placeholder="Prenom" value="{{ personnage.PrenomPersonnage }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="descriptionPersonnage" class="col-sm-2 control-label">Description :</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="descriptionPersonnage" id="descriptionPersonnage"
                   placeholder="Description" value="{{ personnage.DescriptionPersonnage }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="photoPersonnage" class="col-sm-2 control-label">Photo :</label>
        <div class="col-sm-2">
            <input type="file" class="form-control" name="photoPersonnage" id="photoPersonnage"
                   value="{{ personnage.PhotoPersonnage }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="spectacleId" class="col-sm-2 control-label">Spectacle :</label>
        <div class="col-sm-2">
            <select id="spectacleId" class="form-control" name="spectacleId">
                {% for spectacle in spectacles %}
                    <option value="{{ spectacle.Id }}">{{ spectacle.TitreSpect }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="membreId" class="col-sm-2 control-label">Acteur :</label>
        <div class="col-sm-2">
            <select id="membreId" class="form-control" name="membreId">
                {% for membre in membres %}
                    <option value="{{ membre.Id }}">{{ membre.PrenomMembre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

        <input type="hidden" name="csrf" value="{{ form.csrf.value }}">

    <input type="hidden" name="id" value="{{ personnage.Id }}">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="submit" value="submit" class="btn btn-default">Envoyer</button>
        </div>
    </div>

</form>





<div class="row titre">
    <div class="col-xs-12 text-center">
        <h3>Liste des personnages</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-2">
        {% for personnage in personnages %}
            <div class="col-lg-4 thumbnail text-center">
                <img src="{{ personnage.PhotoPersonnage }}" alt="{{ personnage.PrenomPersonnage }}">
                <h3>{{ personnage.NomPersonnage }} {{ personnage.PrenomPersonnage }}</h3>
                <p>{{ personnage.DescriptionPersonnage }}</p>

                <form action="admin.php" method="GET">
                    <input type="hidden" name="route" value="updatePersonnage">
                    <input type="hidden" name="id" value="{{ personnage.Id }}">
                    <input class="btn btn-warning" type="submit" name="updatePersonnage" value="Modifier">
                </form>
                <form action="admin.php?route=deletePersonnage" method="post">
                    <input type="hidden" name="id" value="{{ personnage.Id }}">
                    <input class="btn btn-danger" type="submit" name="deletePersonnage" value="Supprimer">
                </form>
            </div>
        {% endfor %}
    </div>

</div>