<form name="addSpectForm" method="post" action="admin.php?route={{ typeAction }}Spectacle&id={{ spectacle.Id }}"
      class="form-horizontal"
      enctype="multipart/form-data"
      style="margin-top: 30px" xmlns="http://www.w3.org/1999/html">
    <div class="form-group">
        <label for="titreSpect" class="col-sm-4 control-label">Nom :</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="titreSpect" id="titreSpect"
                   placeholder="Titre" value="{{ spectacle.titreSpect }}"required/>
        </div>
    </div>

    <div class="form-group">
        <label for="descriptionSpect" class="col-sm-4 control-label">Description :</label>
        <div class="col-sm-4">
            <textarea class="form-control" name="descriptionSpect" id="descriptionSpect" rows="13"
                      placeholder="Présentation Spectacle"> {{ spectacle.descriptionSpect }} </textarea>
        </div>
    </div>

    <div class="form-group">
        {% if spectacle.photoSpect %}
            <label for="imageactuelle" class="col-sm-4 control-label">Image actuelle </label>
            <div class="col-sm-4">
                <img src="images/photos/{{  spectacle.photoSpect }}" alt="" id="imageactuelle" style="height: 200px"/>
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="photoSpect" class="col-sm-4 control-label">Photo :</label>
        <div class="col-sm-4">
            <input type="file" name="photoSpect" id="photoSpect"
                   value="{{ spectacle.photoSpect }}"/>
        </div>
    </div>

    <div class="form-group">

        <label for="check1er" class="col-sm-4 control-label">Affichage des spectacles :</label>
        <div class="col-sm-4">
            <input type="radio" name="active" value="1" id="check1er" {{ checked }}/> Afficher ce spectacle en priorité
            sur la page d'acceuil

        </div>
    </div>

    <div class="form-group">
        <label for="checklist" class="col-sm-4 control-label"></label>
        <div class="col-sm-4">
            <input type="radio" name="active" value="0" id="checklist" {{ checklist }}/> Afficher ce spectacle dans la
            liste des spectacles
        </div>
    </div>

    <div class="form-group">
        <label for="checkhidden" class="col-sm-4 control-label"></label>
        <div class="col-sm-4">
            <input type="radio" name="active" value="2" id="checkhidden" {{ checkhidden }}/> Retirer ce spectacle de la
            liste des spectacles qui s'affichent
        </div>
    </div>

    <input type="hidden" name="csrf" value="{{ form.csrf.value }}">

    <input type="hidden" name="id" value="{{ spectacle.Id }}">

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" name="submit" value="submit" class="btn btn-default">{{ titreButton }}</button>
        </div>
    </div>

</form>


<div class="row titre">
    <div class="col-xs-12 text-center">
        <h3>Liste des spectacles</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        {% for spectacle in spectacles %}
            <div class="col-lg-10 col-lg-offset-1 thumbnail text-center">
                <div class="row">
                    <div class="col-lg-5 col-sm-12">
                        <img src="images/photos/{{ spectacle.photoSpect }}" alt="{{ spectacle.titreSpect }}">
                    </div>
                    <div class="col-lg-7 col-sm-12">
                        <h3>{{ spectacle.titreSpect }}</h3>
                        <p>{{ spectacle.DescriptionSpect }}</p>
                        {% if spectacle.Active == 1 %}
                            <p class="affichage"><strong>CE SPECTACLE S'AFFICHE EN PRIORITE</strong></p>
                        {% elseif spectacle.Active ==0 %}
                            <p class="affichage"><strong>CE SPECTACLE APPARAIT DANS LA LISTE DES SPECTACLES</strong></p>
                        {% elseif spectacle.Active == 2 %}
                            <p class="affichage"><strong>CE SPECTACLE N'APPARAIT PAS SUR LE SITE</strong></p>
                        {% endif %}

                        <a class="btn btn-warning"
                           href="admin.php?route=updateSpectacle&id={{ spectacle.Id }}&active={{ spectacle.active }}">Modifier</a>

                        <form action="admin.php?route=deleteSpectacle" method="post">
                            <input type="hidden" name="id" value="{{ spectacle.Id }}">
                            <input class="btn btn-danger" type="submit" name="deleteSpectacle" value="Supprimer">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>