
<form name="addSpectForm" method="post" action="admin.php?route={{ typeAction }}Spectacle&id={{ spectacle.Id }}"
      class="form-horizontal"
      enctype="multipart/form-data"
      style="margin-top: 30px" xmlns="http://www.w3.org/1999/html">
    <div class="form-group">
        <label for="titreSpect" class="col-sm-4 control-label">Nom :</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="titreSpect" id="titreSpect"
                   placeholder="Titre" value="{{ spectacle.titreSpect }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="descriptionSpect" class="col-sm-4 control-label">Description :</label>
        <div class="col-sm-4">
            <textarea class="form-control" name="descriptionSpect" id="descriptionSpect" rows="13"
                   placeholder="Présentation Spectacle"> {{ spectacle.descriptionSpect }} </textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="photoSpect" class="col-sm-4 control-label">Photo :</label>
        <div class="col-sm-4">
            <input type="file" name="photoSpect" id="photoSpect"
                   value="{{ spectacle.photoSpect }}" />
        </div>
    </div>

    <div class="form-group">

        <label for="check1er" class="col-sm-4 control-label">1er :</label>
        <div class="col-sm-4">
            <input type="radio" name="active" value="1" id="check1er" {{ checked }}/>

        </div>
    </div>

    <div class="form-group">
        <label for="checkhidden" class="col-sm-4 control-label">Masquer :</label>
        <div class="col-sm-4">
            <input type="radio" name="active" value="2" id="checkhidden" {{ checkhidden }}/>
        </div>
    </div>


    {#<div class="form-group">#}
        {#<label for="check1er" class="col-sm-4 control-label">1er :</label>#}
        {#<div class="col-sm-4">#}
            {#<input type="checkbox" name="active" id="active"#}
                   {#value="1" {{ checked }} /> Selection spect.#}
        {#</div>#}
    {#</div>#}

    {#<div class="form-group">#}
        {#<label for="checkhidden" class="col-sm-4 control-label">Ne pas aff:</label>#}
        {#<div class="col-sm-4">#}
            {#<input type="checkbox" name="hidden" id="hidden"#}
                   {#value="2" {{ checkedhidden }} /> Masqué.#}
        {#</div>#}
    {#</div>#}

        <input type="hidden" name="csrf" value="{{ form.csrf.value }}">

    <input type="hidden" name="id" value="{{ spectacle.Id }}">

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" name="submit" value="submit" class="btn btn-default">{{ titreButton }}</button>
        </div>
    </div>

</form>





<div class="row titre">
    <div class="col-xs-12 text-center">
        <h3>Liste des spectacles</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
            {% for spectacle in spectacles %}
                <div class="col-lg-4 thumbnail text-center">
                    <img src="{{ spectacle.PhotoSpect }}" alt="{{ spectacle.titreSpect }}">
                    <h3>{{ spectacle.titreSpect }}</h3>
                    <p>{{ spectacle.DescriptionSpect }}</p>
                    {% if spectacle.Active == 1  %}
                    <p>Spectacle en 1er page</p>
                    {% elseif spectacle.Active == 2 %}
                    <p>Spectacle NON mis en ligne</p>
                    {% endif %}
                    {#<form action="admin.php" method="GET">#}
                        {#<input type="hidden" name="route" value="updateSpectacle">#}
                        {#<input type="hidden" name="id" value="{{ spectacle.Id }}">#}
                        {#<input type="hidden" name="check" value="{{ spectacle.active }}">#}
                        {#<input class="btn btn-warning" type="submit" name="updateSpectacle" value="Modifier">#}
                    {#</form>#}
                    <a  class="btn btn-warning" href="admin.php?route=updateSpectacle&id={{ spectacle.Id }}&active={{
                    spectacle.active }}">Modifier</a>
                    <form action="admin.php?route=deleteSpectacle" method="post">
                        <input type="hidden" name="id" value="{{ spectacle.Id }}">
                        <input class="btn btn-danger" type="submit" name="deleteSpectacle" value="Supprimer">
                    </form>
                </div>
            {% endfor %}
    </div>

</div>